<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">ColabNotes</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="navbar-text">
                        Logged in como <b>{{ app.user.nombre }} {{app.user.apellidos }}</b>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <button id="btn_logout" class="btn btn-danger"><i class="icon-off"></i></button>
                    </li>
                </ul>

                <ul class="nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="#about">Acerca de</a></li>
                    <li><a href="#contact">Contacto</a></li>

                    {% if is_granted('ROLE_PREMIUM') %}
                    <li><a href="{{ path('jamn_espacio_premium') }}">Cuenta Premium</a></li>
                    {% else %}
                    <li><a href="{{ path('jamn_contratar') }}">Contratar Premium</a></li>                    
                    {% endif %}
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>