 
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Etiquetas</li>            
            <li>                
                <a href="{{ path("jamn_conetiqueta", {"etiqueta": 'todas'}) }}"> todas las notas</a>
            </li>
            {% for etiqueta in etiquetas %}
            <li class="">                
                <a href="{{ path("jamn_conetiqueta", {"etiqueta": etiqueta.id}) }}"><i class="icon-tag"></i>{{ etiqueta.texto }}</a>
            </li>
            {% endfor%}
                        
        </ul>
    </div><!--/.well -->
</div><!--/span-->