{% extends 'JAMNotasFrontendBundle::base.html.twig' %}

{% block stylesheets%}
{% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}

{% endblock%}

{% block javascripts %}
{% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}

<script>            

var btnLogout = $("#btn_logout");
        
btnLogout.click(function(){
     window.location = '{{ path('jamn_logout') }}';
});
   
</script>
{% endblock %}


{% block body %}

    {% include 'JAMNotasFrontendBundle:Notas:cabecera.html.twig' %}

    <div class="container-fluid">
        <div class="row-fluid">
    {% include 'JAMNotasFrontendBundle:Notas:etiquetas.html.twig' %}

    {% include 'JAMNotasFrontendBundle:Notas:notas.html.twig' %}
  
    <div class="span6">
       <div class="well sidebar-nav">
          <ul class="nav nav-list">  
              <li class="nav-header">Detalle Notas</li> 
    {% block detalle_y_edicion %}
    {% endblock %}                    
          </ul>
        </div>
    </div>
        {% include 'JAMNotasFrontendBundle:Notas:pie.html.twig' %}        
  </div>
</div>

{% endblock %} 