{% extends 'JAMNotasFrontendBundle::base.html.twig' %}

{% block stylesheets%}
{% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}

{% endblock%}

{% block javascripts %}
{% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}

<script>            

var btnLogout = $("#btn_logout");
        
btnLogout.click(function(){
     window.location = '{{ path('jamn_logout') }}';
});
   
    </script>
{% endblock %}


{% block body %}

    {% include 'JAMNotasFrontendBundle:Notas:cabecera.html.twig' %}

    <div class="container-fluid">
        <div class="row-fluid">
    {% include 'JAMNotasFrontendBundle:Notas:etiquetas.html.twig' %}

    {% include 'JAMNotasFrontendBundle:Notas:notas.html.twig' %}

    {% block detalle_y_edicion %} {% endblock %}
    {% include 'JAMNotasFrontendBundle:Notas:pie.html.twig' %}
        </div>
    </div>

{% endblock %} 